/* -------------------------------------------- */
/* page header */
/* -------------------------------------------- */

.page-header {
    background: #000;
    position: relative;
    z-index: 2;
}

.page-logo {
    float:left;
    font-size:14px;
    text-transform: uppercase;
    font-weight:600;
}

.page-logo a {
    color:#fff;
    text-decoration: none;
    line-height: 40px;
}

.page-logo a span {
    color : var(--color);
    font-weight: 700;
}
