/* -------------------------------------------- */
/* main banner */
/* -------------------------------------------- */

.main-banner-cnt {
    height:500px;
    background-color: #ddd;
    background-image: linear-gradient(#fff, #ddd);
}

.main-banner-cnt .container {
    height:100%;
}

.main-slider {
    height:100%;
    position: relative;
}

.main-slider-prev,
.main-slider-next {
    position:absolute;
    left:0;
    top:0;
    width:70px;
    height:100%;
    background: transparent;
    border:0;
    font-size:50px;
    color: var(--color);
    background: transparent;
    transition: 0.5s color;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 80px;
    font-weight: normal;
}


.main-slider-next {
    right:0;
    left:auto;
}

.main-slider-prev:hover,
.main-slider-next:hover,
.main-slider-prev:focus,
.main-slider-next:focus {
    color:#000;
    outline:none;
}

.main-slider-slides-cnt {
    height:100%;
    margin:0 70px;
    position: relative;
}

.main-slider-slide {
    position: absolute;
    top:20px;
    left:-40px;
    width:100%;
    height:100%;
    opacity:0;
    transition: 0.5s all;
}

.main-slider-slide.active {
    opacity:1;
    z-index: 2;
}

.main-slider .slide-image {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider img {
    position: relative;
    max-width: 90%;
    width: 100%;
}

.main-slider .slide-cnt {
    height: 100%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-slider .slide-title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.main-slider .slide-title span {
    color: var(--color);
}

.main-slider .slide-cnt .slide-text {
    margin: 15px -5px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.main-slider .slide-button {
    margin-top: 15px;
    font-size: 24px;
    font-weight: normal;
    padding: 15px 40px;
}

/* normal slide */
.main-slider-slide img {
    top: -50px;
    opacity: 0;
    transition: 0.5s 0s ease-in-out all;
}

.main-slider-slide .slide-cnt {
    opacity: 0;
    top: -50px;
    position: relative;
    transition: 0.5s 0.3s ease-in-out all;
    line-height: 25px;
}

/* active slide - the visible one */
.main-slider-slide.active {
    z-index: 100;
}

.main-slider-slide.active img {
    top: 0;
    left: 0;
    opacity: 1;
}

.main-slider-slide.active .slide-cnt {
    opacity: 1;
    top: 0;
}

.main-slider-slide.active .slide-cnt .title {
}