/* -------------------------------------------- */
/* main contact */
/* -------------------------------------------- */

.main-contact {
    padding:50px 0;
}

/* -------------------------------------------- */
/* form */
/* -------------------------------------------- */

.form {}

.form-col-left {
    width:635px;
    float:left;
}

.form-col-right {
    width:345px;
    float:right;
}

.form-row {
    margin-bottom:26px;
}

.form-addon {
    height:200px;
    background-image: url(../images/red_chair.png);
    background-position: center bottom;
    background-size: 280px auto;
    background-repeat: no-repeat;
    display: block;
    margin-bottom:40px;
}

.form .button {
    width:100%;
    font-size:35px;
    padding:15px 23px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    border:1px solid var(--color);
    height:70px;
    padding:0 17px;
    width:100%;
    font-size:30px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.form textarea {
    padding:17px;
    height:200px;
    resize: none;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline:none;
    border:1px solid var(--color);
    box-shadow: inset 0 0 0 1px var(--color);
}

.form ::-webkit-input-placeholder {
    color: #ccc;
}

.form ::-moz-placeholder {
    color: #ccc;
}

.form :-ms-input-placeholder {
    color: #ccc;
}

.form :-moz-placeholder {
    color: #ccc;
}

.checkbox {
    display: block;
    font-size: 20px;
    color: #ccc;
}

.checkbox input {
    position: absolute;
    left:-999999px;
}

.checkbox-mark {
    width:48px;
    height:48px;
    border:1px solid var(--color);
    display: inline-block;
    vertical-align: top;
    float:left;
    position: relative;
    margin-right:10px;
}

.checkbox-mark:before {
    content:'';
    position: absolute;
    left:50%;
    top:50%;
    width:44px;
    height:44px;
    background-image: url(../images/form_ok.jpg);
    transform: translate(-50%, -50%) scale(0.2);
    background-position: center center;
    background-repeat: no-repeat;
    opacity:0.1;
    transition:0.5s all;
}

input:checked + .checkbox-mark {
}

input:checked + .checkbox-mark:before {
    opacity:1;
    transform: translate(-50%, -50%) scale(1);
}